@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary { background-color: #112E40; }
.bg-secondary { background-color: #C8D3D9; }
.text-primary { color: #025949; }
.text-secondary { color: #1FBF91; }
.border-primary { border-color: #025949; }
.hover:bg-primary:hover { background-color: #025949; }
.hover:text-primary:hover { color: #112E40; }
.animate-bounce:hover { animation: bounce 1s infinite; }
@keyframes bounce {
  0%, 100%, 20%, 50%, 80% { transform: translateY(0); }
  40% { transform: translateY(-10px); }
  60% { transform: translateY(-5px); }
}

/* .bg-primary { background-color: #112E40; }
.text-primary { color: #025949; }
.text-secondary { color: #1FBF91; }
.bg-footer { background-color: #C8D3D9; } */